<!DOCTYPE html>
<html ng-app="appModule">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body ng-controller='myCtrl'>
<table class="table table-bordered">
    <tr>
        <td><input type="checkbox" ng-model="selectAll">全选</td>
        <td>商品</td>
        <td>数量</td>
        <td>单价</td>
        <td>小计</td>
        <td>操作</td>
    </tr>
    <tr ng-repeat="value in data ">
        <td ><input type="checkbox"></td>
        <td>{{value.name}}</td>
        <td>
            <button ng-click="value.count=value.count-1" ng-disabled="value.count<=1">-</button>
            <input type="text" ng-model="value.count">
            <button ng-click="value.count=value.count+1">+</button>
        </td>
        <td>{{value.price}}</td>
        <td>{{value.price*value.count}}</td>
        <td>
            <button class="btn btn-danger" ng-click="del(value)">删除</button>
        </td>
    </tr>
    <tr>
        <td >已选择件商品</td>
        <td colspan="5">总价:{{total()}}</td>

    </tr>
</table>
<script src="../node_modules/angular/angular.js"></script>
<script>
    var app = angular.module('appModule',[]);
    app.controller('myCtrl',function($scope){
        $scope.data=[
            {name:'手机',price:1299,count:1,selected:true},
            {name:'电脑',price:10299,count:1,selected:true},
            {name:'硬盘【西部数据】',price:299,count:1,selected:true},
            {name:'音响',price:499,count:1,selected:false},
            {name:'耳机',price:199,count:1,selected:true}
        ];
        $scope.del=function(value){
            $scope.data=$scope.data.filter(function(item){
                return value!=item
            })
        };

        $scope.tota=function(){
            var sum=0;
            $scope.data.forEach(function(value){tota+=value.count;

            });
            return sum
        };


        $scope.total=function(){
           var sum=0;
            $scope.data.forEach(function(value){
                sum+=value.price*value.count
            });
            return sum;
        }


    })
</script>
</body>
</html>